*{
    margin: 0;
    padding: 0%;
}

.header-block{
    width: 100vw;
    height: 20vh;
    background-color: red;
    color: #fff;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    align-items: center;
}

.header-block img{
    width: 100px;
    height: 100px;
    margin: 30px;
}

.header-block input{
    width: 100%;
    height: 15%;
}

.header-block button{
    width: 50%;
    height: 15%;
    margin-right: 50px;
}